.rim  {
  stroke: #84e42a;
  stroke-width: 1px;
  fill: brown;
}
.shaper  {
  stroke: #2a2de4;
  stroke-width: 1px;
  fill: rgb(132, 165, 42);
}
.text  {
  font: 40px FontAwesome;
  stroke-width: 1px;
  stroke: #84e42a;
  text-anchor: middle;
}
